@media print,
(max-width: 1579px)
{
    /*-------------------
        Global styles
    -------------------*/
    .cont
    {
        --cont_width: 100%;
    }



    /*------------
        Header
    ------------*/
    header .menu > * + *,
    header .menu > * + *:last-child
    {
        margin-left: 80px;
    }



    /*-------------
        Sidebar
    -------------*/



    /*---------------
        Page head
    ---------------*/



    /*----------------
        Block head
    ----------------*/



    /*------------------
        Form elements
    ------------------*/



    /*----------------
        Typography
    ----------------*/



    /*-------------
        Program
    -------------*/
    .program .data
    {
        width: calc(100% - 600px);
    }


    .program .image
    {
        width: 560px;
    }



    /*------------
        Footer
    ------------*/



    /*-----------
        PopUp
    -----------*/
}
